.App {
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}

input::placeholder {
  color: rgb(189, 189, 189);
}

label {
  display: block;
  margin-bottom: 8px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.left-border-radius {
  border-radius: 5px 0 0 5px;
}

.right-border-radius {
  border-radius: 0 5px 5px 0;
}

.divide {
  margin-top: 12px;
  margin-bottom: 28px;
  border-bottom: 1px solid rgb(237, 233, 233);
}

.input-container {
  color: gray;
  text-align: left;
}

.form-container {
  max-width: 800px;
  min-height: 160px;
  margin: auto;
}

.form-title{
  width: 100%;
  justify-content: space-between;
}

.form-title> p {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.form-title> div {
  color: orange;
}

.form-input-container {
  justify-content: space-between;
}

.form-input-container {
  margin-right: 8px;
}

.input-tip {
  margin: 0;
  text-align: right;
}

.currency {
  padding: 2px 8px 8px 8px;
  height: 37px;
  width: 37px;
  color: #000;
  background-color: rgb(237, 233, 233);
  border: gray solid 1px;
  border-right: none;
}

.price-input {
  width: 300px;
  border: orange 2px solid;
  font-size: 16px;
  line-height: 40px;
  padding-left: 6px;
}

.age-select {
  width: 166px;
  border: orange 2px solid;
  font-size: 16px;
  height: 47px;
  padding-left: 2px;
}

.tilde {
  padding: 2px 8px 8px 8px;
  font-size: 20px;
  height: 35px;
  width: 17px;
  color: #000;
  background-color: rgb(237, 233, 233);
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
}

.error {
  background-color: rgb(252, 228, 228);
  color: red;
  padding: 8px;
  border-radius: 0 0 5px 5px;
  text-align: left;
}

.dot-border-container {
  border: dotted 1px gray;
  padding: 8px;
  margin: 8px;
}

.button{
  cursor: pointer;
  font-weight: bold;
  color: lightseagreen;
  line-height: 24px;
}

.button-container {
  margin: 30px auto 30px auto;
  max-width: 800px;
}

.button:hover{
  transform: scale(1.1);
  transition: 200ms;
}

.mark {
  font-size: 24px;
}

